.actions-container {
    display: flex;
    margin: 2% 0 1% 0;
    justify-content: space-between;
    * {
        width: 40%;
    }
    app-filter {
        text-align: right;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    app-card {
        margin: 1%;
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        app-card {
            margin: 2% auto;
        }
    }
}